.menu {
  position: relative;
}

.box {
  position: fixed;
}

.iconMenu {
  color: #000;
}

.boxIconMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  border-radius: 30%;
  background-color: #e4e3e3;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--color);

    .iconMenu {
      color: #fff;
    }
  }

  margin: 30px 0;
}

@media screen and (min-width: 1440px) {

  .box {
    position: fixed;
    top: 25%;
    right: 20px;
  }
}

@media screen and (min-width: 1200px) {

  .box {
    position: fixed;
    top: 25%;
    right: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .box {
    bottom: 0 !important;
    display: flex;
    z-index: 9999;
    width: 100%;
    align-content: flex-end;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2B2A2A;
    height: 60px;
  }

  .boxIconMenu {
    margin: 5px;
    width: 40px;
    height: 40px;
  }
}