.container {
    margin: 0 150px;
}

.box {
    height: 100vh;
}

.boxInfo {
    animation: slider;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;


    @keyframes slider {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }
}

.boxSkill {
    animation: sliderSkill;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;


    @keyframes sliderSkill {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }
}

.sub {
    display: flex;
    justify-content: space-around;

    .subTitle {
        font-size: 30px;
        color: var(--light-text-intro-color);
        margin: 25px 0;
        color: #666666;
    }


}

.containerInfo {
    display: flex;

}

.infoLeft,
.infoRight {
    list-style-type: none;
    font-size: 17px;
    width: 75%;
}

ul li {
    margin: 15px 0 0 50px;
}

.lable {
    color: rgb(83, 82, 82);
    font-weight: 600;
    margin: 0 5px 5px 0;
}

.content {
    color: rgb(116, 113, 113);
}

.link {
    color: rgb(140, 139, 139);
    text-decoration: none;
}

.downloadCV {
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    width: 35%;
    text-decoration: none;
    justify-content: space-between;

    .boxDownloadCV {
        background-color: #7BDB6B;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: relative;

        .downloadCVIcon {
            color: #fff;
            position: absolute;
            left: 30%;
            top: 30%;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: all 0.2s ease;
        }
    }

    .lableDownloadCV {
        font-size: 20px;
        font-weight: 600;
        color: #7BDB6B;
        margin-left: 10px;
        margin-top: 10px;
    }
}

.exp {
    width: 65%;
}

.boxIcon,
.boxNext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #7BDB6B;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 20px;
}

.icon {
    color: #fff;
}

.expItem {
    display: flex;
    align-items: center;
    margin: 0 0 40px 0;

    .timeExp {
        background-color: rgb(97, 96, 96);
        width: 120px;
        border-radius: 7px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        margin: 5px 0;
    }

    .placeExp {
        text-transform: uppercase;
        color: #666666;
    }
}

.boxNext {
    position: fixed;
    top: 90%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #7BDB6B;
    margin: 10px auto;

    &:hover {
        transform: scale(1.1);
        transition: all 0.2s ease;
    }

    .iconNext {
        color: rgb(97, 96, 96);
    }
}

.subTitle2 {
    font-size: 30px;
    margin: 25px 0;
    color: #666666;
    text-align: center;
}

.containerSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .boxSkills {
        margin: 5px;
        width: 40%;
        display: flex;
        justify-content: center;
        font-size: 15px;

        .skill {
            height: 4rem;
            width: 4rem;
            margin-right: 10px;
        }

        .percent {
            min-width: 70%;
            height: 10px;
            margin: 0.7em 0 0 0.5em;
            border-radius: 5px;
        }

        .reached {
            background-color: #7BDB6B;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            height: 10px;
            width: 90%;
            float: left;
        }

        .notReached {
            background-color: #666666;
            border-radius: 5px;
            height: 10px;
            // float: right;
            width: 100%;
        }

    }
}


@media screen and (max-width: 1200px) {

    .downloadCV {
        width: 43%;
    }

    .container {
        margin: 0 70px;
    }

    .boxSkills {
        margin: 20px !important;
    }

    .boxSkill {
        height: 90vh;
    }

    .boxNext {
        top: 80%;
    }

}

@media screen and (max-width: 1000px) {

    .container {
        margin: 0 20px;
    }

    .boxSkills {
        margin: 20px !important;
    }
}

@media screen and (max-width: 750px) {

    .container {
        margin: 0 10px;
    }

    .boxSkills {
        margin: 20px !important;
    }

    .downloadCV {
        width: 55%;
    }

    .lableDownloadCV {
        font-size: 13px;
    }
}

@media screen and (max-width: 720px) {

    .boxNext {
        display: none;
    }
}

@media screen and (max-width: 650px) {

    .container {
        margin: 0;
    }

    .boxSkills {
        margin: 20px !important;
    }

    .downloadCV {
        width: 55%;
        margin-left: 20px;
    }

    .lableDownloadCV {
        font-size: 17px !important;
    }

    .sub {
        justify-content: space-between;
        margin: 0 20px 0 20px;
    }

    .infoLeft li {
        margin-left: 20px;
    }

    .expItem {
        margin-left: 30px;
    }

    .containerSkills {
        margin-left: 40px !important;
        min-height: 50vh;
    }

}

@media screen and (max-width: 560px) {

    .lable,
    .content {
        font-size: 14px !important;
    }

    .subTitle {
        margin-bottom: 10px !important;
    }

    .expItem {
        margin: 20px 0 !important;
    }

    .lableDownloadCV {
        font-size: 14px !important;
    }

    .downloadCV {
        width: 53%;
    }

    .boxDownloadCV {
        width: 40px !important;
        height: 40px !important;
    }

    .downloadCVIcon {
        font-size: 15px;
    }

    .boxIcon {
        width: 40px !important;
        height: 40px !important;
    }

    .placeExp {
        font-size: 14px !important;
    }

    .timeExp {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 480px) {

    .lable,
    .content {
        font-size: 13px !important;
    }

    .subTitle {
        margin-bottom: 5px !important;
        font-size: 20px !important;
    }

    .expItem {
        margin: 20px 0 !important;
    }

    .lableDownloadCV {
        font-size: 14px !important;
    }

    .downloadCV {
        width: 70%;
        margin-left: 7px !important;
    }

    .boxDownloadCV {
        width: 30px !important;
        height: 30px !important;
    }

    .downloadCVIcon {
        font-size: 15px;
        left: 21% !important;
        top: 24% !important;
    }

    .boxIcon {
        width: 30px !important;
        height: 30px !important;
        margin-right: 5px !important;
    }

    .icon {
        font-size: 15px !important;
    }

    .placeExp {
        font-size: 13px !important;
    }

    .timeExp {
        font-size: 11px !important;
    }

    .infoLeft li {
        margin-left: 7px !important;
    }

}