* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scroll */
::-webkit-scrollbar {
  display: none;
}

body {

  --color: #7BDB6B;
  --background-color: #fff;
  --text-name-color: #7BDB6B;
  --text-job-color: #B6E388;
  --text-intro-color: rgb(129, 128, 128) ;

  font-family: "roboto", sans-serif;

  min-height: 100vh;
}